body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    border: 1px solid transparent;
    height: auto;
    width: 50rem;
    margin-top:2rem;
    border-radius: 12px;
    background-color: white;
    padding-top: 1rem;
}
.textArea{
    width: 49.9rem;
    height: 20rem;
    text-align: justify;
    word-wrap: break-word;
    border-radius: 12px;
    border: 1px solid transparent;
    /*text-indent: 2rem;*/
    resize: none;
}
.textArea:active{
    border-color: transparent;
}
.textArea:focus{
    outline: none;
}

.submit-button{
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-left: 75%;
    width: 10rem;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: black;
    color: white;
}

.submit-button:hover{
    background-color: whitesmoke;
    color: black;

}

.form-choice-pictures{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    scale:2;

}

label{
    opacity:0.5;
    margin-right: 7rem;
}

input[type="checkbox"] {
    display: none;

}
.checkbox-element{
    margin-left: 10rem;
}

input[type="checkbox"] + label {
    cursor: pointer;
    margin-top: 2rem;

}
label:hover{
    box-shadow: 0px 0px 1px rgba(11, 16, 16, 0.68);
}
input[type="checkbox"]:checked +label {
    opacity:1;
}
hr{
    width: 90%;
    margin-left: 5%;
}

input[type="checkbox"] + label:first-of-type {
    margin-left: 12rem;
}
#checkbox--header{
    margin-left: 2.1rem;
    margin-top: 2rem;
}
label:first-of-type{
    margin-left: 45rem;
}

.social--media--miniature{
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    margin-left: -7.5rem;
    margin-top: 5rem;
    z-index: 4;
}
.form-error{
    color: darkred;
    font-size: 14px;

}
.form-error ul{
    list-style: none;
}