{% extends 'base.html.twig' %}

{% block title %}Hello FallbackPageController!{% endblock %}

{% block body %}
<div>
    Oopsie ,rabbit hole
</div>
    <a href="{{ path('app_social_media') }}">go back</a>

{% endblock %}
