{% extends 'templates.html.twig' %}

{% block title %}Socials{% endblock %}

{% block body %}

    <div class="wrapper--social">
        <h2 class="title">Let's Get You Setup </h2>
        <hr>
        <p class="description">Connect your social media profiles</p>
        <div class="social--media">
            <div class="social--medium">
                <a href="{{ path('app_facebook_login') }}">

                        {% if picture is not empty %}
                            <img class="socials--logo picture" src="{{ picture }}" />
                        {% else %}
                            <img class="socials--logo" src='img/facebook.png.webp'/>
                        {% endif %}
                </a>
            </div>
            <div class="social--medium">
                <a href="{{ path('app_linkedin_login') }}">
                    {% if pictureLinkedin is not empty %}
                        <img class="socials--logo picture" src="{{ pictureLinkedin }}" />
                    {% else %}
                        <img class="socials--logo" src="img/linkedin.png.webp" />
                    {% endif %}
                </a>
            </div>
            <div class="social--medium">
                <img

                   class="socials--logo"
                   src="img/twitter.png"
                />
            </div>
        </div>

    </div>

{% endblock %}
