{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    {% set myArray = ['one', 'two', 'three'] %}
    {% set myUrl = path('app_test', {'myArray': myArray|join(',')}) %}
    <button >
        <a href="{{ myUrl}}">clickme</a>
    </button>

    </button>
{% endblock %}
