{% extends 'base.html.twig' %}
{% block body %}
    <div class="header--section">
        <div class="header--element content">
            <a href="{{ path('app_social_media') }}">new post</a>
        </div>
        <div class="header--element social">
            <a href="{{ path('app_social_media') }}">feeds</a>
        </div>
        <div class="header--element statistics">
            <a href="{{ path('app_social_media') }}">statistics</a>
        </div>

    </div>
{% endblock %}